.vscode/**
.vscode-test/**
.idea/**
.git/**
.github/**
src/**
out/**
**/*.ts
**/*.map
.gitignore
.editorconfig
.eslintrc.json
.eslintignore
.prettierrc
.prettierignore
tsconfig.json
esbuild.js
vsc-extension-quickstart.md
node_modules/**
**/*.test.js
CONTRIBUTING.md
docs/**
scripts/**
